header {
   
   
   .navbar-brand.nav__logo{
       left: 0;
       position: relative;
       &::before,
       &::after {
           content: "";
           position: absolute;
           top: 8px;
           left: 0px;
           width: 75px;
           height: 75px;
           border-radius: 50%;
           background-color: white;
           opacity: 0;
           animation: onda 1.7s infinite;
        }
        &::before {
         animation-delay: 1s;
        }
        &::after {
         animation-delay: 1.3s;
        }
}
.navBar__logo {
    width: 15%;
    position: relative;
    z-index: 2;
   
}
    
    .navbar.navbar-expand-lg {
        // background-color: $mainColor;

        .collapse.navbar-collapse {
           
            .navbar-nav {
              
               
                gap: 1rem;
                font-family: 'Ysabeau', sans-serif;
                font-weight: 600;
               
                 
                 .nav-item {
                     
                     .nav-link {
                         
                         transition: 0;
                         color: white;
                         &:hover {
                             background-color: rgb(221, 64, 64);;
                             
     
                         }
                

                    
    
                    }
                }
            }
        }
        div {
            ul {
                a {
                    text-decoration: none;
                }
            }
        }
    }
    
}

@keyframes onda {
    0% {
        transform: scale(1);

    }
    15% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}